

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<header class="mt-4">
                        <h1>Welcome to the About Page</h1>
                        <p>I'm glad to have you here and excited to share a little about myself.</p>
                    </header>
                    
                    <section>
                        <h2>My Background</h2>
                        <p>My name is Julius Ugwu , student ID 120796230  from the BTT program. Embarking on this journey has been both challenging and rewarding. From an early age, I've been fascinated by technology and its potential to change the world. This passion led me to pursue a career in web development, where I can use my creativity and problem-solving skills to build innovative web applications.</p>
                        <p>Throughout my studies, I've had the opportunity to learn various programming languages, like python and presently i am learning, HTML, CSS, JavaScript, and Node.js. These tools have enabled me to design and develop dynamic, user-friendly websites that cater to the needs of users. My projects range from simple websites and in the future i hope to build complex web applications that solve real-world problems.</p>
                        <p>Beyond my academic pursuits, I'm an avid learner who spends a considerable amount of time experimenting with new technologies and staying updated with industry trends. I believe that continuous learning is the key to being successful in this ever-evolving field. When I'm not learning how to code, I enjoy playing football, photography, and watching movies.</p>
                        <p>Looking forward, I'm excited about the opportunities that lie ahead. My goal is to be very good at what i do.</p>
                    </section>
                    
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>